
.swiperContainer {
  .swiperSlideWrapper {
    .swiperSlideContainer {
      position: relative;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px -200px 250px #1A1A1A;
      box-shadow: inset 0px 0px 130px -10px rgba(0, 0, 0, 0.9);
      filter: drop-shadow(0px 25px 40px #0E0E0E);
      
      height: 157.57px;
      margin-top: 482px;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
             
              @media screen and (min-width: 768px) {
                  height: 269px;
                   }
                   @media screen and (min-width: 1200px) {
                      height: 425px;
    }
  }
 }
}
 

 .carouselControls 
 .swiper-pagination 
 .swiper-pagination-horizontal
 .swiper-pagination-bullets 
 .swiper-pagination-bullets
 .swiper-pagination-horizontal {
    position: absolute;
    z-index: 10; 
    bottom: -30px;

    @media screen and (min-width: 768px) {
      display: none !important;
    }

    @media screen and (min-width: 1200px) {
      display: none !important;
    }
   }
  


  